<!-- START FOOTER CONTAINER -->
<ion-footer class="mobile-footer">
  <ion-toolbar>
  <ion-tabs>
    <ion-tab-bar slot="bottom">

      <ion-tab-button tab="/performances">
        <ion-icon name="play"></ion-icon>
        <ion-label>Performances</ion-label>
        <ion-badge>9</ion-badge>
      </ion-tab-button>

      <ion-tab-button tab="events">
        <ion-icon name="mic"></ion-icon>
        <ion-label>Events</ion-label>
        <ion-badge>9</ion-badge>
      </ion-tab-button>

      <ion-tab-button tab="admin">
        <ion-icon name="settings"></ion-icon>
        <ion-label>Features</ion-label>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>
  </ion-toolbar>
</ion-footer>


<ion-footer>
  <ion-toolbar class="footer">
    <!--ion-grid class="footer"-->
    <ion-grid>
      <ion-row>

        <ion-col size-xs>
          <div class="footer__signup">
            <div class="footer__signup__div-1">
              <ion-input type="text" placeholder="Save 10% off* your first move"></ion-input>
            </div>
            <div class="footer__signup__div-2">
              <ion-button color="tertiary" fill="outline">Sign Up</ion-button>
            </div>
          </div>
        </ion-col>

        <ion-col size="4" size-xs>
          <div class="footer__social">
            <div class="footer__social__div-1">
              FOLLOW US
            </div>
            <div class="footer__social__div-2">
              <a href="https://www.facebook.com/groups/365945748114369" target="_blank">
                <i class="fab fa-facebook-f fa-3x"></i>
              </a>
              <a href="https://twitter.com/care_moving" target="_blank">
                <i class="fab fa-twitter fa-3x"></i>
              </a>
              <a href="https://www.instagram.com/we_care_moving_company_llc/" target="_blank">
                <i class="fab fa-instagram fa-3x"></i>
              </a>
              <!--a href="https://www.pinterest.com/wecaremoving/" target="_blank">
                <i class="fab fa-pinterest-p fa-3x"></i>
              </a-->
              <a href="https://www.youtube.com/wecaremoving/" target="_blank">
                <i class="fab fa-youtube fa-3x"></i>
              </a>
              <a href="https://www.youtube.com/wecaremoving/" target="_blank">
                <i class="fab fa-tiktok fa-3x"></i>
              </a>
            </div>
          </div>
        </ion-col>

        <ion-col size-xs>
          <div class="footer__mobile-apps">
            <a [routerLink]="['/mobile-app']">
              <i class="fal fa-mobile-alt"></i> Mobile apps
            </a>
          </div>
        </ion-col>
      </ion-row>

      <ion-row class="footer__wrapper">
        <ion-col>
          <!--div class="footer__wrapper__nav-subdiv"-->
          <div>
            <ion-list>
              <ion-item-divider>
                <ion-label>Company</ion-label>
              </ion-item-divider>
              <ion-item lines="none"><a [routerLink]="['/about']">About {{ siteName }}</a></ion-item>
              <ion-item lines="none">
                <a [routerLink]="['/history']">Our History</a>
              </ion-item>
              <ion-item lines="none"><a [routerLink]="['/covid']">COVID-19 Update</a></ion-item>
              <ion-item lines="none"><a [routerLink]="['/location']">Location</a></ion-item>
              <ion-item lines="none"><a [routerLink]="['/testimonials']">Testimonials</a></ion-item>
              <ion-item lines="none"><a [routerLink]="['/fleet']">Fleet</a></ion-item>
            </ion-list>
          </div>
        </ion-col>
        <ion-col>
          <!--div class="footer__wrapper__nav-subdiv"-->
          <div>
            <ion-list>
              <ion-item-divider>
                <ion-label>
                  Customer Service
                </ion-label>
              </ion-item-divider>

              <ion-item lines="none"><a [routerLink]="['/services']">Services</a></ion-item>
              <ion-item lines="none"><a [routerLink]="['/faqs']">FAQs</a></ion-item>
              <ion-item lines="none"><a [routerLink]="['/cancellations']">Cancellations</a></ion-item>
              <ion-item lines="none"><a [routerLink]="['/pricing']">Pricing</a></ion-item>
              <ion-item lines="none"><a [routerLink]="['/aos']">Areas Of Service</a></ion-item>
              <ion-item lines="none"><a [routerLink]="['/privacy']">Customer Privacy</a></ion-item>
            </ion-list>
          </div>
        </ion-col>
        <ion-col>
          <!--div class="footer__wrapper__nav-subdiv"-->
          <div>
            <ion-list>
              <ion-item-divider>
                <ion-label>
                  Got Questions?
                </ion-label>
              </ion-item-divider>
              <div class="footer__wrapper__nav-subdiv__subdiv-3">
                <ion-item lines="none">
                  <ion-label>
                    Subscribe and save 10% off!
                  </ion-label>
                </ion-item>
                <ion-item lines="none">
                  <ion-button size="large" class="quote-btn" (click)="subscribe()">Subscribe</ion-button>
                  <!--button class="footer__wrapper__nav-subdiv__btn" (click)="getQuoteForm()">Get Quote
                  </button-->
                </ion-item>
              </div>
            </ion-list>
          </div>
        </ion-col>
      </ion-row>

      <ion-row class="footer__site-info">
        <ion-col size="12" size-sm class="ion-float-left">
          <div class="footer__site-info__content-1">
            &copy; {{ date }} <a [routerLink]="['/home']">{{ siteFooterName }}</a>
            All Rights Reserved.
          </div>
        </ion-col>
        <ion-col size="12" size-sm class="ion-float-right">
          <div class="footer__site-info__content-2">
            <a [routerLink]="['/terms-conditions']">Terms & Conditions |</a>
            <a [routerLink]="['/privacy']"> Privacy Policy |</a>
            <a [routerLink]="['/sitemap']"> Sitemap</a>
          </div>
        </ion-col>
      </ion-row>

    </ion-grid>
  </ion-toolbar>
</ion-footer>


