<ion-content>
  <ion-card class="main-card">
    <ion-card-content>
      <ion-card-header>
        <ion-card-title>{{ pageTitle }}</ion-card-title>
      </ion-card-header>
      <ion-grid>
        <ion-row class="card-wrapper">
          <ion-col>
            <div class="card">
              <div class="card__side card__side--front">
                <div class="card__picture card__picture--1">
                  <ion-img [src]="card_one_image"></ion-img>
                </div>
                <div class="card__heading">
                  Silver
                </div>
                <div class="card__details">
                  <ul>
                    <li>3 Day Tour</li>
                    <li>Up to 30 people</li>
                    <li>2 tour guides</li>
                    <li>Sleep in cozy hotel</li>
                    <li>Difficulty: Very easy</li>
                  </ul>
                </div>
              </div>
              <div class="card__side card__side--back card__side--back--1">
                <div class="card__cta">
                  <div class="card__price-box">
                    <p class="card__price-only">Only</p>
                    <p class="card__price-value">$29.99</p>
                  </div>
                  <a href="#" class="btn btn--white">Subscribe Now</a>
                </div>
              </div>
            </div>
          </ion-col>
          <ion-col>
            <div class="card">
              <div class="card__side card__side--front">
                <div class="card__picture card__picture--2">
                  <ion-img [src]="card_two_image"></ion-img>
                </div>
                <div class="card__heading">
                  Bronze
                </div>
                <div class="card__details">
                  <ul>
                    <li>3 Day Tour</li>
                    <li>Up to 30 people</li>
                    <li>2 tour guides</li>
                    <li>Sleep in cozy hotel</li>
                    <li>Difficulty: Very easy</li>
                  </ul>
                </div>
              </div>
              <div class="card__side card__side--back card__side--back--2">
                <div class="card__cta">
                  <div class="card__price-box">
                    <p class="card__price-only">Only</p>
                    <p class="card__price-value">$39.99</p>
                  </div>
                  <a href="#" class="btn btn--white">Subscribe Now</a>
                </div>
              </div>
            </div>
          </ion-col>
          <ion-col>
            <div class="card">
              <div class="card__side card__side--front">
                <div class="card__picture card__picture--3">
                  <ion-img [src]="card_three_image"></ion-img>
                </div>
                <div class="card__heading">
                  Gold
                </div>
                <div class="card__details">
                  <ul>
                    <li>3 Day Tour</li>
                    <li>Up to 30 people</li>
                    <li>2 tour guides</li>
                    <li>Sleep in cozy hotel</li>
                    <li>Difficulty: Very easy</li>
                  </ul>
                </div>
              </div>
              <div class="card__side card__side--back card__side--back--3">
                <div class="card__cta">
                  <div class="card__price-box">
                    <p class="card__price-only">Only</p>
                    <p class="card__price-value">$99.99</p>
                  </div>
                  <a href="#" class="btn btn--white">Subscribe Now</a>
                </div>
              </div>
            </div>
          </ion-col>
          <ion-col>
            <div class="card">
              <div class="card__side card__side--front">
                <div class="card__picture card__picture--4">
                  <ion-img [src]="card_four_image"></ion-img>
                </div>
                <div class="card__heading">
                  Titanium
                </div>
                <div class="card__details">
                  <ul>
                    <li>3 Day Tour</li>
                    <li>Up to 30 people</li>
                    <li>2 tour guides</li>
                    <li>Sleep in cozy hotel</li>
                    <li>Difficulty: Very easy</li>
                  </ul>
                </div>
              </div>
              <div class="card__side card__side--back card__side--back--1">
                <div class="card__cta">
                  <div class="card__price-box">
                    <p class="card__price-only">Only</p>
                    <p class="card__price-value">$119.99</p>
                  </div>
                  <a href="#" class="btn btn--white">Subscribe Now</a>
                </div>
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <app-footer></app-footer>
</ion-content>
