@import 'src/styles/base/_base.scss';

ion-header, ion-toolbar, ion-title {
  background: #ffffff;
}

@media(min-width: 768px) {
  .mobile-header {
    display: none;
  }

  .header {
    display: flex;
    background: #ffffff;
    padding-left: 40px;
    padding-right: 40px;


    &__logo-text-wrapper {
      display: inline;

      &__logo {
        width: 20%;
        height: 20%;
      }

      &__text {
        display: inline;
        left: 100px;
      }
    }

    &__nav-wrapper {
      display: block;
      right: 0.5rem;
      position: absolute;
      z-index: 10;
      top: 1.8rem;
    }
  }
}

@media(max-width: 768px) {
  .mobile-header {
    display: block;
    max-height: 84px;
  }

  .header {
    display: none;
  }
}

.active-item {
  border-bottom: 2px solid var(--ion-color-primary);
}

.dropdown {
  width: 7.2rem;
  // height: 8rem;
  background: #FFFFFF;
  position: absolute;
  top: 3.9rem;
  left: 295px;
  z-index: 1;
  ion-item:hover {
    --ion-item-color: var(--ion-color-primary);
  }
}

.account-dropdown {
  width: 7.2rem;
  // height: 8rem;
  background: #FFFFFF;
  position: absolute;
  top: 3.9rem;
  left: 590px;
  z-index: 1;
  ion-item:hover {
    --ion-item-color: var(--ion-color-primary);
  }
}
