@import 'src/styles/base/_base.scss';

ion-header, ion-toolbar, ion-title {
  background: #ffffff;
}

.header {

  --ion-background-color: #FFFFFF;

  a {
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }


  & ion-buttons {
    display: none;

    // 320px to 375px
    @media only screen and (min-width: $bp-smallest) and (max-width: $bp-smaller-1) {
      display: block;
      width: 60%;
      margin: 0 0 0 1.9rem;
      font-size: $bp-smallest-font-size;
    }
  }

  &__logo-text-wrapper {
    width: 45rem;
    padding: 1rem;
    float: left;
    display: inline;

    &__logo {
      width: 7rem;
      float: left;
      display: inline;
    }

    &__text {
      float: left;
      margin-left: 0.8rem;
      display: inline;
      margin-top: 2.5rem;
      font-size: $bp-medium-font-size;

      // 320px to 375px
      @media only screen and (min-width: $bp-smallest) and (max-width: $bp-smaller-1) {
        display: none;
      }

    }

  }

  &__nav-wrapper {
    display: inline;
    float: left;
    margin-top: 2.7rem;

    & ul {
      float: left;

      & li {
        list-style-type: none;
        float: left;
        padding: 3px;
        font-size: 1.2rem;

        & a {
          text-decoration: none;
          padding: 3px;

          & ion-icon {
            right: 1rem;
          }
        }
      }
    }

    // 320px to 375px
    @media only screen and (min-width: $bp-smallest) and (max-width: $bp-smaller-1) {
      display: none;
    }

  }
}

/*.button {
  display: none;
}*/
