<ion-menu contentId="main" menuId="myMenu" side="start">
    <ion-header>
        <ion-toolbar>
            <ion-title>Menu</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item button (click)="setTitle(p.title)"
                      [routerLink]="[p.url]"
                      routerDirection="root"
                      routerLinkActive="active-item"
                      [routerLinkActiveOptions]="{exact: true}"
                      lines="none" detail="false"
                      >
                <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
                <ion-label>{{ p.title }}</ion-label>
            </ion-item>
        </ion-menu-toggle>
    </ion-content>
</ion-menu>
<app-header></app-header>
<ion-router-outlet id="main"></ion-router-outlet>

