<ion-content>
    <ion-card class="main-card">
        <ion-card-content>
            <ion-card-header>
                <ion-card-title>{{ pageTitle }}</ion-card-title>
            </ion-card-header>

            <ion-grid>
                <ion-row>
                    <ion-col>
                        <ion-card>

                        </ion-card>
                    </ion-col>
                    <ion-col></ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>
</ion-content>
