<ion-header>

    <ion-toolbar class="header">
        <ion-buttons slot="start">
            <ion-menu-button autoHide="false"></ion-menu-button>
        </ion-buttons>

        <ion-grid>
            <ion-row>

                <ion-col>
                    <div class="header__menu-btn"></div>
                </ion-col>

                <ion-col size="2">
                    <div class="header__logo-text-wrapper">
                        <ion-title>

                            <div class="header__logo-text-wrapper__logo">
                                <a [routerLink]="['/home']">
                                    <ion-img [src]="appLogo"
                                             alt="We Care Moving Company Logo">
                                    </ion-img>
                                </a>
                            </div>

                            <div class="header__logo-text-wrapper__text">
                                <a [routerLink]="['/home']">
                                    {{ appName | uppercase }}
                                </a>
                            </div>

                        </ion-title>
                    </div>
                </ion-col>

                <ion-col size="4"></ion-col>

                <ion-col size="5">
                    <div class="header__nav-wrapper">
                        <ul>
                            <li>
                                <a [routerLink]="['/services']">
                                    <i class="fas fa-concierge-bell"></i>
                                    Services |
                                </a>
                            </li>


                            <li>
                                <a [routerLink]="['/fleet']">
                                    <i class="fas fa-truck-loading"></i>
                                    Fleet |
                                </a>
                            </li>


                            <li>
                                <a [routerLink]="['/pricing']">
                                    <i class="fas fa-dollar-sign"></i>
                                    Pricing |
                                </a>
                            </li>


                            <li>
                                <a [routerLink]="['/location']">
                                    <i class="fas fa-map-marker-alt"></i>
                                    Location |
                                </a>
                            </li>

                            <li>
                                <a [routerLink]="['/cart']">
                                    <i class="fas fa-cart-plus"></i>
                                    Cart
                                </a>
                            </li>
                            <li><a *ngIf="isUserLoggedOut$ | async" [routerLink]="['/register']">Sign Up |</a></li>
                            <li><a *ngIf="isUserLoggedOut$ | async" [routerLink]="['/login']">
                                <i class="fal fa-unlock"></i>
                                Login</a></li>
                            <li><a *ngIf="isUserLoggedIn$ | async" [routerLink]="['/admin']">{{displayName$ | async}}</a></li>
                            <li><a *ngIf="isUserLoggedIn$ | async">| Logout</a></li>

                            <!--

                            -->
                        </ul>
                    </div>
                </ion-col>

            </ion-row>
        </ion-grid>
    </ion-toolbar>
