@import 'src/styles/base/base';

.main-content {
  min-height: 40rem;
  width: 26%;

  @media only screen and (min-width: $bp-large) {
    min-height: 46rem;
  }
}

.credit-card-logo {
  width: 288px;
  height: 186px;
}
.credit-card-name {
  font-size: 1.8rem;
}

.credit-card-edit-option {
  width: 165px;
  margin: auto;
  text-align: center;

  & a {
    text-decoration: none;
  }
}
